#searchInput::placeholder {
    color: #00008B;  
    opacity: 0.5;    
}

.navbar-dark .nav-item .nav-link {
  color: navy;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: navy;
}

.fa-li {
  position: relative;
  left: 0;
}

.material-symbols-outlined {
      font-size: 20px;
      vertical-align: middle;
    }

.navbar-nav.ms-auto .nav-link {
    font-family: "Baloo 2", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    color: navy;
    margin-left: 15px;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
    font-family: "Baloo 2", cursive;
}

.nav-link .material-symbols-outlined {
    margin-right: 6px;
}

.dropdown-menu-dark .dropdown-item:hover {
    background-color: #0d6efd;
    font-family: "Baloo 2", cursive;
}

/* Paw imagery! */
    /* Keeps images in toe/palm shape */
    .toe, .palm {
      position: absolute;
      border: 5px solid black;
      overflow: hidden;
      border-radius: 50%;
      cursor: pointer;
    }
    /* Contains images */
    .toe img, .palm img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    /* Adjusting toes and palm, in case the image looks strange */
    /* Skew is used to pull on the image, but it can also make it look awkward, so be careful! */
    #toe1 { width: 80px; height: 100px; top: 130px; left: -25px;}
    #toe2 { width: 90px; height: 110px; top: 60px; left: 60px; transform:skew(-15deg);}
    #toe3 { width: 90px; height: 110px; top: 60px; right: 50px; transform:skew(15deg);}
    #toe4 { width: 80px; height: 100px; top: 120px; right: -40px; }
    #palm {
      width: 220px;
      height: 200px;
      bottom: -25px;
      transform:skewX(-30deg);
      rotate: 25deg;
      left: 15%;
      border-radius: 60% 60% 80% 80%;
    }
    #paw2-toe1 { width: 80px; height: 100px; top: 130px; left: -25px;}
    #paw2-toe2 { width: 90px; height: 110px; top: 60px; left: 60px; transform:skew(-15deg);}
    #paw2-toe3 { width: 90px; height: 110px; top: 60px; right: 50px; transform:skew(15deg);}
    #paw2-toe4 { width: 80px; height: 100px; top: 120px; right: -40px; }
    #paw2-palm {
      width: 220px;
      height: 200px;
      bottom: -25px;
      transform:skewX(-30deg);
      rotate: 25deg;
      left: 15%;
      border-radius: 60% 60% 80% 80%;
    }

    #paw3-toe1 { width: 80px; height: 100px; top: 130px; left: -25px;}
    #paw3-toe2 { width: 90px; height: 110px; top: 60px; left: 60px; transform:skew(-15deg);}
    #paw3-toe3 { width: 90px; height: 110px; top: 60px; right: 50px; transform:skew(15deg);}
    #paw3-toe4 { width: 80px; height: 100px; top: 120px; right: -40px; }
    #paw3-palm {
      width: 220px;
      height: 200px;
      bottom: -25px;
      transform:skewX(-30deg);
      rotate: 25deg;
      left: 15%;
      border-radius: 60% 60% 80% 80%;
    }

    #paw4-toe1 { width: 80px; height: 100px; top: 130px; left: -25px;}
    #paw4-toe2 { width: 90px; height: 110px; top: 60px; left: 60px; transform:skew(-15deg);}
    #paw4-toe3 { width: 90px; height: 110px; top: 60px; right: 50px; transform:skew(15deg);}
    #paw4-toe4 { width: 80px; height: 100px; top: 120px; right: -40px; }
    #paw4-palm {
      width: 220px;
      height: 200px;
      bottom: -25px;
      transform:skewX(-30deg);
      rotate: 25deg;
      left: 15%;
      border-radius: 60% 60% 80% 80%;
    }

    #paw5-toe1 { width: 80px; height: 100px; top: 130px; left: -25px;}
    #paw5-toe2 { width: 90px; height: 110px; top: 60px; left: 60px; transform:skew(-15deg);}
    #paw5-toe3 { width: 90px; height: 110px; top: 60px; right: 50px; transform:skew(15deg);}
    #paw5-toe4 { width: 80px; height: 100px; top: 120px; right: -40px; }
    #paw5-palm {
      width: 220px;
      height: 200px;
      bottom: -25px;
      transform:skewX(-30deg);
      rotate: 25deg;
      left: 15%;
      border-radius: 60% 60% 80% 80%;
    }

    #paw6-toe1 { width: 80px; height: 100px; top: 130px; left: -25px;}
    #paw6-toe2 { width: 90px; height: 110px; top: 60px; left: 60px; transform:skew(-15deg);}
    #paw6-toe3 { width: 90px; height: 110px; top: 60px; right: 50px; transform:skew(15deg);}
    #paw6-toe4 { width: 80px; height: 100px; top: 120px; right: -40px; }
    #paw6-palm {
      width: 220px;
      height: 200px;
      bottom: -25px;
      transform:skewX(-30deg);
      rotate: 25deg;
      left: 15%;
      border-radius: 60% 60% 80% 80%;
    }

    /* Adjusting toes and palm, in case the image looks strange */
    /* Skew is used to pull on the image, but it can also make it look awkward, so be careful! */
    #product-toe1 { width: 80px; height: 100px; top: 130px; left: -25px;}
    #product-toe2 { width: 90px; height: 110px; top: 60px; left: 60px; transform:skew(-15deg);}
    #product-toe3 { width: 90px; height: 110px; top: 60px; right: 50px; transform:skew(15deg);}
    #product-toe4 { width: 80px; height: 100px; top: 120px; right: -40px; }
    #product-palm {
      width: 220px;
      height: 200px;
      bottom: -25px;
      transform:skewX(-30deg);
      rotate: 25deg;
      left: 15%;
      border-radius: 60% 60% 80% 80%;
    }

body {
    padding-bottom: 250px;  /* extra space so content isn't hidden behind footer */
}

.map-container {
  width: 100%;           /* full width of parent */
  max-width: 600px;      /* optional max width */
  aspect-ratio: 4 / 3;   /* keeps height proportional to width */
  margin: 0 auto;        /* centers the map */
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.map-description {
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 18px;
    color: darkblue;
    text-align: center;
    margin-top: 15px;
    max-width: 600px; /* keeps text aligned with map width */
}

