#searchInput::placeholder {
    color: #00008B;  /* your desired color */
    opacity: 1;      /* ensures color is fully applied */
}

.navbar-dark .nav-item .nav-link {
  color: navy;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: navy;
}

.fa-li {
  position: relative;
  left: 0;
}

.material-symbols-outlined {
      font-size: 20px;
      vertical-align: middle;
    }

.navbar-nav.ms-auto .nav-link {
    font-family: "Swanky and Moo Moo", cursive !important;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    color: navy !important;
    margin-left: 15px;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.nav-link .material-symbols-outlined {
    margin-right: 6px;
}

.dropdown-menu-dark .dropdown-item:hover {
    background-color: #0d6efd;
}

/* Paw imagery! */
    /* Keeps images in toe/palm shape */
    .toe, .palm {
      position: absolute;
      border: 5px solid black;
      overflow: hidden;
      border-radius: 50%;
      cursor: pointer;
    }
    /* Contains images */
    .toe img, .palm img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    /* Adjusting toes and palm, in case the image looks strange */
    /* Skew is used to pull on the image, but it can also make it look awkward, so be careful! */
    #toe1 { width: 80px; height: 100px; top: 130px; left: -25px;}
    #toe2 { width: 90px; height: 110px; top: 60px; left: 60px; transform:skew(-15deg);}
    #toe3 { width: 90px; height: 110px; top: 60px; right: 50px; transform:skew(15deg);}
    #toe4 { width: 80px; height: 100px; top: 120px; right: -40px; }
    #palm {
      width: 220px;
      height: 200px;
      bottom: -25px;
      transform:skewX(-30deg);
      rotate: 25deg;
      left: 15%;
      border-radius: 60% 60% 80% 80%;
    }
